# AWS Serverless Backend Lambda Function URL
VITE_API_URL=https://rdw63qafseuxth2p2wfxklnkna0eiwdo.lambda-url.us-east-1.on.aws
VITE_API_ENDPOINT=https://rdw63qafseuxth2p2wfxklnkna0eiwdo.lambda-url.us-east-1.on.aws/api
